@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  color: #1c1d1d;
}
body {
  font-family: "Inter", sans-serif;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
li,
ol,
ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
